.preview {
	width: 700px;
	height: 670px;
	background-color: #676162;
	padding: 27px 24px;

	&-header {
		color: white;
		font-size: 36px;
		font-weight: 300;
		margin: 0;
	}

	&-area {
		width: 651px;
		height: 534px;
		background-color: white;
		position: relative;
		display: flex;
		// justify-content: center;
		// align-content: center;
		// flex-flow: row nowrap;
	}

	&-mainarea {
		margin: auto;
		max-width: 651px;
		max-height: 534px;
		position: relative;
		overflow: hidden;

		.preview-mainimage_image {
			max-width: 651px;
			max-height: 534px;
		}

		.preview-mainarea_containment {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&-wmarea {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 0;
		overflow: hidden;

		.preview-watermark_image {
			max-width: 100%;
			max-height: 100%;
			display: inline-block;
		}

		.preview-watermark_image_clone {
			max-width: 100%;
			max-height: 100%;
			display: inline-block;
		}

		&:hover {
			cursor: move;
		}
	}
}