@import "compass";

@import "_common/mixins";

/* --------- sprite --------- */

@import "_common/icon-sprite.scss";

/* --------- adjustment --------- */

@import "_layout/normalize";
@import "_layout/adjustment";

/* --------- responsive --------- */

@import "_layout/media";

/* --------- sections --------- */

@import "_sections/**/*";

html {
	font-family: Roboto;
}

.wrapper {
	background: transparent url("../img/background.jpg") repeat scroll center top / cover;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;
	width: 100%;
	display: flex;
	position: relative;
}

.appwindow {
	width: 960px;
	height: 670px;
	margin: auto;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	// align-items: stretch;
	justify-content: flex-start;
}

.copyright {
	color: #FFF;
	font-size: 12px;
	font-weight: 300;
	font-family: Roboto;
	width: 100%;
	position: absolute;
	bottom: 20px;
	left: 0;
	text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
