//- include _common/_mixins

doctype html
html(lang='ru')
	include _common/head
	body
		.wrapper
			include _common/icons
			.appwindow
				include _common/preview
				include _common/controlpanel
			.copyright &#169; 2016. Это мой сайт, пожалуйста, не копируйте и не воруйте его
		include _common/jslinks
