.controlpanel
	h2.controlpanel-header Настройки
	include imageupload
		include mainimage
		include watermark
	include position
		include singleimage
		include multipleimage
	include opacity
	include buttons