// bower:js
script(src='bower/jquery/dist/jquery.js')
script(src='bower/jquery-ui/jquery-ui.js')
script(src='bower/jquery.columnizer/src/jquery.columnizer.js')
script(src='bower/jquery-form-styler/jquery.formstyler.min.js')
// endbower
script(src='js/main.js')