h3.controlpanel-subheader Исходное изображение
.imageupload-wrapper
	input(type="text" id="imageupload-fakeinput" class="imageupload-fakeinput" placeholder="Загрузите4 изображение" name="mainimageshortname" required)
	label(for="imageupload-realinput" class="imageupload-button")
	input(id="imageupload-realinput" type="file" class="imageupload-realinput" name="mainimagerealname")
h3.controlpanel-subheader Водяной знак
.imageupload-wrapper
	input(type="text" id="imageupload-fakeinput" class="imageupload-fakeinput" placeholder="Загрузите2 изображение" name="mainimageshortname" required)
	label(for="imageupload-realinput" class="imageupload-button")
	input(id="imageupload-realinput" type="file" class="imageupload-realinput" name="mainimagerealname")