h3.controlpanel-subheader Исходное изображение1
.imageupload-wrapper.mainimage-upload
	input(type="text" id="imageupload-fakeinput" class="imageupload-fakeinput" placeholder="Загрузите изображение" name="mainImageShortName" required)
	label(for="mainimage-realinput" class="imageupload-button")
	input(id="mainimage-realinput" type="file" class="imageupload-realinput" name="mainimagerealname")
h3.controlpanel-subheader Водяной знак
.imageupload-wrapper.watermark-upload
	input(type="text" id="imageupload-fakeinput" class="imageupload-fakeinput" placeholder="Загрузите изображение" name="WatermarkShortName" required)
	label(for="wmimage-realinput" class="imageupload-button")
	input(id="wmimage-realinput" type="file" class="imageupload-realinput" name="mainimagerealname")