.modeswitch-container
	input(data-mode="watermark-single" type='radio', id="watermark-single", name='watermark-mode', value="single" class="mode-switch-radio" checked)
	label(for="watermark-single" class="mode-switch-label mode-switch-label_single" data-view="single")
	input(data-mode="watermark-multiple" type='radio', id="watermark-multiple", name='watermark-mode', value="multiple" class="mode-switch-radio")
	label(for="watermark-multiple" class="mode-switch-label mode-switch-label_multiple" data-view="multiple")