.position-control.position-control_multiple
	.matrix-control
		.matrix-container
			.matrix-item
			.matrix-item
			.matrix-item
			.matrix-item
			.matrix-item
			.matrix-item
			.matrix-item
			.matrix-item
			.matrix-item
			.verpadding
			.horpadding
	.incremental
		//- .incremental-item.incremental-item_wmposX
		//- 	label.incremental-label.incremental-label_wmposX X
		//- 	input(id="spinner" class="incremental-input incremental-ipnut_wmposX" type="text" name="wmposX-value")
		//- .incremental-item.incremental-item_wmposY
		//- 	label.incremental-label.incremental-label_wmposY Y
		//- 	input(id="spinner" class="incremental-input incremental-ipnut_wmposY" type="text" name="wmposY-value")
		.incremental-item.incremental-item_wmpaddingX
			label.incremental-label.incremental-label_wmpaddingX
			input(id="spinner" class="incremental-input incremental-ipnut_wmpaddingX" type="text" name="wmpaddingX")
		.incremental-item.incremental-item_wmpaddingY
			label.incremental-label.incremental-label_wmpaddingY
			input(id="spinner" class="incremental-input incremental-ipnut_wmpaddingY" type="text" name="wmpaddingY")