.preview
	h1.preview-header Генератор водяных знаков
	.preview-area
		.preview-mainarea(style="width: 652px; height: 321px;")
			img(src="img/upload/1006.jpg" class="preview-mainarea_image")
			#draggable.preview-wmarea(style="opacity: 0.5")
				img(src="img/upload/548.jpg" class="preview-mainarea_image")