.preview
	h1.preview-header Генератор водяных знаков1
	.preview-area
		.preview-mainarea
			img(src="img/upload/1006.jpg" class="preview-mainimage_image")
			.preview-mainarea_containment
			#draggable.preview-wmarea(style="opacity: 0.5")
				img(src="img/upload/548.jpg" class="preview-watermark_image")