.singleimage
	.matrix-control
		.matrix-container
			.matrix-item
			.matrix-item
			.matrix-item.matrix-item_active
			.matrix-item
			.matrix-item
			.matrix-item
			.matrix-item
			.matrix-item
			.matrix-item
			.verpadding
			.horpadding
	.incremental
		.incremental-item
			label.incremental-label
			input(id="wm-X-value" type="text")
			.incremental-increase
			.incremental-decrease
		.incremental-item
			label.incremental-label
			input(id="wm-X-value" type="text")
			.incremental-increase
			.incremental-decrease
		.incremental-item
			label.incremental-label
			input(id="wm-X-value" type="text")
			.incremental-increase
			.incremental-decrease
		.incremental-item
			label.incremental-label
			input(id="wm-X-value" type="text")
			.incremental-increase
			.incremental-decrease