.singleimage
	.matrix-control
		.matrix-container
			.matrix-item.left-top
			.matrix-item.center-top
			.matrix-item.right-top.matrix-item_active
			.matrix-item.left-center
			.matrix-item.center-center
			.matrix-item.right-center
			.matrix-item.left-bottom
			.matrix-item.center-bottom
			.matrix-item.right-bottom
			.verpadding
			.horpadding
	.incremental
		.incremental-item
			label.incremental-label.incremental-label_wmposX X
			input(id="spinner" class="incremental-input incremental-ipnut_wmposX" type="text" name="wmposX-value")
		.incremental-item
			label.incremental-label.incremental-label_wmposY Y
			input(id="spinner" class="incremental-input incremental-ipnut_wmposY" type="text" name="wmposY-value")
		.incremental-item
			label.incremental-label.incremental-label_wmpaddingX
			input(id="spinner" class="incremental-input incremental-ipnut_wmpaddingX" type="text" name="wmpaddingX-value")
		.incremental-item
			label.incremental-label.incremental-label_wmpaddingY
			input(id="spinner" class="incremental-input incremental-ipnut_wmpaddingY" type="text" name="wmpaddingY-value")